html, body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(http://img00.deviantart.net/8e4f/i/2010/304/4/3/saw_v_2_by_hassoomi-d31v9zz.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

main {
  padding: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 430px;
  background-color: rgba(255, 142, 142, 0.3);
  box-shadow: 2px 0 2px black;
  overflow-y: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
}

option, select, input, button, textarea {
  color: black;
}

a, a:visited {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}

select,
input[type="url"],
input[type="text"] {
  height: 32px;
  font-size: 16px;
  border: 0;
  border-bottom: 2px solid #CCC;
  margin-bottom: 16px;
  outline: 0;
  box-shadow: none !important;
}

select:focus,
input[type="url"]:focus,
input[type="text"]:focus {
  border-bottom-color: orange;
}

#card-list {
  margin-top: 32px;
  padding-left: 8px;
}

#card-list li {
  margin: 16px 0;
}

.state {
  box-sizing: border-box;
  position: relative;
}

.button-holder {
  position: relative;
}

.fab {
  background-color: #0078E7;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  color: white;
  position: absolute;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .2s;
}

.fab:hover {
  box-shadow: 0 6px 8px black;
}

.fab-right {
  right: 0;
}

.fab-top {
  top: 16px;
}

.flat-button {
  font-size: 1em;
  border: 0;
  padding: 8px 0;
  background-color: transparent;
  text-transform: uppercase;
  color: orange;
  border-radius: 2px;
}

.flat-button-primary {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #0078E7;
  color: white;
}

.flat-button-destroy {
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgb(202, 60, 60);
  color: white;
}

.card {
  background-color: white;
  color: black;
  border-radius: 2px;
}

.card fieldset {
  padding: 16px;
}

.card legend {
  font-size: 2em;
  margin-top: 32px;
  margin-bottom: 16px;
  border: 0;
}

.card-actions {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  margin-top: 32px;
}

.card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}

.card-actions .flat-button {
  margin-right: 8px;
}

.card-close {
  background-color: white;
  border: 1px solid #757575;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 0;
  padding: 0;
}

.card-content {
  padding: 8px 16px;
  margin: 0;
}

.card-content:empty {
  padding: 0;
}

.card-sub-header {
  margin-top: 24px;
  font-size: 16px;
  color: #757575;
}

.card-title {
  padding-top: 16px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list-item {
  margin-left: 16px;
  position: relative;
  cursor: pointer;
}

.search-box {
  color: black;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: white;
}

.search-box input {
  flex: 1 0 0px;
  border: 0;
}

.is-hidden {
  display: none;
}

.is-unfinished {
  color: #CCC;
}

.is-finished {
  color: #00AA00;
}
