html, body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(http://img00.deviantart.net/8e4f/i/2010/304/4/3/saw_v_2_by_hassoomi-d31v9zz.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
}

option, select, input, button, textarea {
  color: black;
}

a, a:visited {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
}

.pure-form legend {
  color: white;
}

.state {
  width: 640px;
  padding-top: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  position: relative;
}

.button-holder {
  position: absolute;
  top: 0;
  right: 0;
}

.button-error {
  background: rgb(202, 60, 60);
  color: white;
}

.is-hidden {
  display: none;
}

.is-unfinished {
  color: #CCC;
}

.is-finished {
  color: #00AA00;
}
