html, body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(http://img00.deviantart.net/8e4f/i/2010/304/4/3/saw_v_2_by_hassoomi-d31v9zz.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

main {
  padding: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 430px;
  background-color: rgba(255, 142, 142, 0.3);
  box-shadow: 2px 0 2px black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
}

option, select, input, button, textarea {
  color: black;
}

a, a:visited {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
}

#card-list {
  margin-top: 32px;
  padding-left: 8px;
}

#card-list li {
  margin: 16px 0;
}

.pure-form legend {
  color: white;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked select {
  margin-bottom: 32px;
}

.state {
  box-sizing: border-box;
  position: relative;
}

.button-holder {
  position: relative;
}

.button-error {
  background: rgb(202, 60, 60);
  color: white;
}

.fab {
  background-color: #0078E7;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  color: white;
  position: absolute;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .2s;
}

.fab:hover {
  box-shadow: 0 6px 8px black;
}

.fab-right {
  right: 0;
}

.fab-top {
  top: 16px;
}

.search-box {
  color: black;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: white;
}

.search-box input {
  flex: 1 0 0px;
  border: 0;
}

.is-hidden {
  display: none;
}

.is-unfinished {
  color: #CCC;
}

.is-finished {
  color: #00AA00;
}
